:root {
    --primary-color: #000000;
    --secondary-color: #d5c076;
    --tertiary-color: #b69552;
}

body {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    min-height: 100vh;
}

.hide-input-arrows::-webkit-outer-spin-button,
.hide-input-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

label.input {
    outline: 1px solid var(--input-color)
}

div.text-error {
    margin-top: 8px;
    color: 	#c91313;
}